@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  /* New components css */
  .sl-animated {
    @apply ease-in-out duration-500 transition;
  }

  .sl-animated-sm {
    @apply ease-in-out duration-300 transition;
  }

  .sl-animated-lg {
    @apply ease-in-out duration-700 transition;
  }

  .sl-animated-xl {
    @apply ease-in-out duration-1000 transition;
  }

  .sl-animated-all {
    transition: 0.5s all;
  }

  .sl-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .input-transition {
    transition: border-color 0.3s ease-in-out;
  }
  
}


* {
  font-family: "Times New Roman", Times, serif;
}

.sl-container {
  width: min(90%, 1920px);
  margin: auto;
}